{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SF_LOGIN_URL": "https://login.salesforce.com",
    "SF_CLIENT_ID": "SET_IN_PORTAL",
    "SF_CLIENT_SECRET": "SET_IN_PORTAL",
    "SF_API_VERSION": "v61.0",
    "SF_SOQL": "SELECT Id, Name, AccountId, Account.Name, StageName FROM Opportunity WHERE IsClosed = false LIMIT 50",
    "COSMOS_ENDPOINT": "SET_IN_PORTAL",
    "COSMOS_KEY": "SET_IN_PORTAL",
    "COSMOS_DATABASE": "bd-budgets",
    "SF_COSMOS_CONTAINER": "lens_sf_crosswalk"
  }
}
